body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

h3 {
    color: white;
    top: 50px;
    position: absolute;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: #FEE27B;
    border: 7px solid black;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: #FEE27B;
    border-radius: 10px;
}

.stinky {
    background-color: red;
    border: 0px;
}

.chonky {
    background-color: cyan;
    border: 0px;
}

.hooman {
    background-color: pink;
    border: 0px;
}

.sp00ky {
    background-color: orange;
    border: 0px;
}

.scared-ghost {
    background-color: aquamarine;
    border: 0px;
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}

